.trackItem {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .trackItemElement {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    align-content: center;
  }

  .trackName {
    display: flex;
    flex-direction: column;
  }

  .btnDelete {
    visibility: hidden;
  }

  &:hover {
    box-shadow: 5px 5px 15px gray;
    .btnDelete {
      visibility: visible;
    }
  }
}
